<a href="https://colab.research.google.com/github/myriemog/meriem/blob/main/iris_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
# labélisation des données
S = { 'Species' :
       { 'Iris-setosa' : 0,
         'Iris-versicolor' : 1,
         'Iris-virginica' : 2 }}
df.replace(S,inplace=True)

In [ ]:
x=df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].values
y=df['Species'].values

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1)
xtrain,xval,ytrain,yval = train_test_split(xtrain,ytrain,test_size=0.2)

LE DNN : DEEP NEUTRAL LEARNING

In [ ]:
import tensorflow as tf

model = tf.keras.Sequential()
model.add(tf.keras.layers.Input(4))
model.add(tf.keras.layers.Dense(32,activation='relu'))
model.add(tf.keras.layers.Dense(32,activation='relu'))
model.add(tf.keras.layers.Dense(3,activation='softmax'))
model.summary()

# compiler le modele
model.compile(optimizer='adam' ,
              loss= tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True) ,
              metrics=["accuracy"])

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 32)                160

 dense_16 (Dense)            (None, 32)                1056

 dense_17 (Dense)            (None, 3)                 99

=================================================================
Total params: 1,315
Trainable params: 1,315
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(xtrain , ytrain , batch_size=8 , epochs=15 , validation_data=(xval , yval))

Epoch 1/15
14/14 [==============================] - 1s 21ms/step - loss: 1.6083 - accuracy: 0.3333 - val_loss: 1.1197 - val_accuracy: 0.2222
Epoch 2/15
14/14 [==============================] - 0s 5ms/step - loss: 1.0638 - accuracy: 0.4630 - val_loss: 0.9936 - val_accuracy: 0.3704
Epoch 3/15
14/14 [==============================] - 0s 6ms/step - loss: 0.9474 - accuracy: 0.5370 - val_loss: 0.8754 - val_accuracy: 0.7778
Epoch 4/15
14/14 [==============================] - 0s 5ms/step - loss: 0.8492 - accuracy: 0.8333 - val_loss: 0.7644 - val_accuracy: 1.0000
Epoch 5/15
14/14 [==============================] - 0s 6ms/step - loss: 0.7635 - accuracy: 0.9074 - val_loss: 0.6783 - val_accuracy: 1.0000
Epoch 6/15
14/14 [==============================] - 0s 5ms/step - loss: 0.6813 - accuracy: 0.8981 - val_loss: 0.5819 - val_accuracy: 1.0000
Epoch 7/15
14/14 [==============================] - 0s 6ms/step - loss: 0.5823 - accuracy: 0.8889 - val_loss: 0.5001 - val_accuracy: 1.0000
Epoch 8/15
14/14 [==============================] - 0s 5ms/step - loss: 0.5208 - accuracy: 0.8981 - val_loss: 0.4545 - val_accuracy: 1.0000
Epoch 9/15
14/14 [==============================] - 0s 6ms/step - loss: 0.4770 - accuracy: 0.9630 - val_loss: 0.4157 - val_accuracy: 1.0000
Epoch 10/15
14/14 [==============================] - 0s 6ms/step - loss: 0.4429 - accuracy: 0.9630 - val_loss: 0.3847 - val_accuracy: 1.0000
Epoch 11/15
14/14 [==============================] - 0s 5ms/step - loss: 0.4181 - accuracy: 0.9630 - val_loss: 0.3578 - val_accuracy: 1.0000
Epoch 12/15
14/14 [==============================] - 0s 5ms/step - loss: 0.3960 - accuracy: 0.9537 - val_loss: 0.3264 - val_accuracy: 1.0000
Epoch 13/15
14/14 [==============================] - 0s 5ms/step - loss: 0.3708 - accuracy: 0.9537 - val_loss: 0.3168 - val_accuracy: 1.0000
Epoch 14/15
14/14 [==============================] - 0s 6ms/step - loss: 0.3542 - accuracy: 0.9722 - val_loss: 0.2884 - val_accuracy: 1.0000
Epoch 15/15
14/14 [==============================] - 0s 5ms/step - loss: 0.3373 - accuracy: 0.9722 - val_loss: 0.2651 - val_accuracy: 1.0000